.CursorEffect {
    /* position: fixed; */
    position: sticky;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-image: radial-gradient(white, black);
}
